{% extends 'game/base.html' %}

{% block content %}
    <div class="retrieve_container">
        <h3>{{ play.id }} - {{ play.attack_id }} VS {{ play.defend_id }}</h3>
        {% if user.username == defend_name and not play.accept %}
            <div class="attack_button"><a href="{% url 'game:defend' play.id %}">대응하기</a></div>
            <hr>
        {% elif user.username == attack_name and not play.accept %}
            <div class="continueee margin_70">진행중...</div>
            <!-- 내 카드 숫자 -->
            <div class="continueee">나: {{ play.attack_card }}</div>
            <form action="{% url 'game:delete' play.id %}" method="post">
                {% csrf_token %}
                <input type="submit" , value="게임 취소" />
            </form>
        {% else %}
            <hr>
            <div>{{ how_to_win }}</div>
            <hr>
            <!-- 유저 이름, 유저 카드 숫자 -->
            <div class="name_card">{{ other_name }}: {{ other_card }}</div>
            <!-- 내 카드 숫자 -->
            <div>나: {{ user_card }}</div>
            <hr>
            <!-- 승 / 패 -->
            {% if user_id == play.winner %}
            <div>결과: 승리</div>
            <hr>
            <!-- 내 정수 -->
            <div><span>점수</span>: {{ user_card }}점</div>
            {% else %}
            <div>결과: 패배</div>
            <hr>
            <!-- 내 정수 -->
            <div><span>점수</span>: -{{ user_card }}점</div>
            {% endif %}
        {% endif %}
        <!-- list 전적 페이지로 돌아가기 -->
        <div class="menu_container">
            <a href="{% url 'game:game_list' %}">전적 목록</a>
        </div>
    </div>
{% endblock content %}