{% extends 'game/base.html' %}

{% block content %}
    <h2>{{ play.id }} - {{ play.attack_id }} VS {{ play.defend_id }}</h2>
    {% if user.username == defend_name and not play.accept %}
        <div><a href="">대응하기</a></div>
        <hr>
    {% elif user.username == attack_name and not play.accept %}
        <div>진행중...</div>
        <!-- 내 카드 숫자 -->
        <div>나: {{ play.attack_card }}</div>
        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" , value="게임 취소" />
        </form>
    {% else %}
        <hr>
        <div>{{ how_to_win }}</div>
        <hr>
        <!-- 유저 이름, 유저 카드 숫자 -->
        <div>{{ other_name }}: {{ other_card }}</div>
        <!-- 내 카드 숫자 -->
        <div>나: {{ user_card }}</div>
        <hr>
        <!-- 승 / 패 -->
        {% if user_id == play.winner %}
        <div>결과: 승리</div>
        <hr>
        <!-- 내 정수 -->
        <div><span>점수</span>: {{ user_card }}점</div>
        {% else %}
        <div>결과: 패배</div>
        <hr>
        <!-- 내 정수 -->
        <div><span>점수</span>: -{{ user_card }}점</div>
        {% endif %}
    {% endif %}
    <!-- list 전적 페이지로 돌아가기 -->
    <div>
        <a href="{% url 'game:game_list' %}">전적 목록</a>
    </div>
{% endblock content %}