{% extends 'users/base.html' %}

{% block content %}
    <form action="{% url 'game:defend' play.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- <div>{{}}에게 반격하세요!</div> -->
        <div>반격하세요 테스트</div>
        <div>내가 고른 카드: </div>
        <!-- 10숫자 중 지정된 5개 숫자 제외하고, 나머지 숫자 중 하나 선택-->
        <select name="defend_card">
            {% for num in card_nums %}
                <option>
                    {{num}}
                </option>
            {% endfor %}
        </select>
        <br />
        <div>
            <input type="submit" , value="반격하기!" />
        </div>
    </form>
{% endblock content %}